<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= artista.nome %></title>
    <link rel="stylesheet" href="/css/artista.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="\images\logoatt.png" alt="logo">
            </div>
            <a href="/"><i class="homepage"></i> Home</a>
            <a href="/artistas"><i class="fa-solid fa-user"></i> Artistas</a>
            <a href="/discos"><i class="fas fa-record-vinyl"></i> Discos</a>
            <a href="/faixas"><i class="fas fa-music"></i> Faixas</a>
            <a href="/generos"><i class="fas fa-tags"></i> Generos</a>
        </nav>
    </header>

    <div class="artista-container">
        <div class="foto">
            <img src="/<%= artista.foto %>" alt="Foto de <%= artista.nome %>">
        </div>
        <div class="dados">
            <h2><%= artista.nome %></h2>
            <p><strong>Nacionalidade:</strong> <%= artista.nacionalidade %></p>
            <p><strong>Gêneros Musicais:</strong> 
                <% if (artista.generos && artista.generos.length > 0) { %>
                    <%= artista.generos.map(genero => genero.nome).join(', ') %>
                <% } else { %>
                    Nenhum gênero associado
                <% } %>
            </p>
        </div>
    </div>

    <div class="discos-container">
        <h3>Discos do Artista</h3>
        <div class="discos-list">
            <% artista.discos.forEach(function(disco) { %>
                <div class="disco-item">
                    <button class="disco-name" onclick="window.location.href='/discos/<%= disco.id %>'">
                        <%= disco.titulo %>
                    </button>
                </div>
            <% }) %>
        </div>
    </div>
    <footer>
        <a href="/" class="voltas"
            ><i class="volta"></i> Voltar ao Menu Inicial</a
          >
        </footer>

</body>
</html>