<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Discos</title>
    <link rel="stylesheet" href="css/discos.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/"><i class="homepage"></i> Home</a>
        <a href="/artistas"><i class="fa-solid fa-user"></i> Artistas</a>
        <a href="/discos"><i class="fas fa-record-vinyl"></i> Discos</a>
        <a href="/faixas"><i class="fas fa-music"></i> Faixas</a>
        <a href="/generos"><i class="fas fa-tags"></i> Generos</a>
      </nav>
    </header>

    <div class="discos-container">
      <a href="/discos/add" class="add-disco-button"
        ><i class="fas fa-plus-circle"></i> Adicionar Disco</a
      >

      <div class="discos-list">
        <% discos.forEach(function(disco) { %>
        <div class="disco-item">
          <button
            class="disco-name"
            onclick="window.location.href='/discos/<%= disco.id %>'"
          >
            <%= disco.titulo %>
          </button>
          <div class="disco-options">
            <% if (disco.artista && disco.artista.nome) { %>
            <button
              class="artist-button linked-artist"
              onclick="window.location.href='/artistas/<%= disco.artista.id %>'"
            >
              <%= disco.artista.nome %>
            </button>
            <% } else { %>
            <button
              class="artist-button link-artist"
              onclick="window.location.href='/vincular-artista/<%= disco.id %>'"
            >
              Vincular artista
            </button>
            <% } %>
            <!-- Botões de editar e excluir -->
            <button class="edit-disco" onclick="window.location.href='discos/<%= disco.id %>/edit'">
              <i class="fas fa-edit"></i> Editar
          </button>
            <form
              action="/discos/<%= disco.id %>?_method=DELETE"
              method="POST"
              style="display: inline"
            >
              <button type="submit" class="delete-disco">Excluir</button>
            </form>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
    <footer>
      <a href="/" class="voltas"
          ><i class="volta"></i> Voltar ao Menu Inicial</a
        >
      </footer>
  </body>
</html>
